.form-login {
    width: 320px;
    margin: 0 auto;
    padding-top: 5%;
    form {
        border-radius: 5px;
        border: 1px solid #ced4da;
        background-color: #FFF;
    }
}

.menu-link {
    width: 100%;
    color: #FFF;
    display: block;
}

.base-login {
    height: 100%;
    display: flex;
    align-items: center;
}