<div class="container base-login">
    <div class="form-login">    
        <form class="d-flex justify-content-center align-items-center flex-column p-4">
            <img src="../assets/images/logo.png" class="m-4" /> 
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Joe">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="loginEmail" placeholder="email@example.com">
            </div>   
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="*****">
            </div>   
            <div class="form-group">
            <div class="input-group mb-3">
                <div class="custom-file">
                <input type="file" class="custom-file-input" id="photo">
                <label class="custom-file-label" for="photo">Choose your photo</label>
                </div>
            </div>        
        </div>
            <button class="btn btn-first" routerLink="/">Register</button>     
        </form>
    </div>
</div>
  
  